/* Use the proper box layout model by default, but allow elements to override */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
details > * {
  box-sizing: border-box;
}

.react-flow__attribution {
  visibility: hidden;
}

.react-flow.cursor-crosshair .react-flow__pane {
  cursor: crosshair;
}

/* Input and output nodes reset styles */
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-input:hover,
.react-flow__node-output:hover {
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none !important;
  text-align: left;
  width: auto;
  height: auto;
  min-width: 100px;
}
